<%- include("partials/header") -%>

            <div class="col-10 mt-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12">

                            <div class="utilities-container">

                                <div class="container-header">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-9">
                                                <h3>Utilities and Services</h3>
                                            </div>

                                            <div class="col-3">
                                                <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                                    <option value="water" selected>Water</option>
                                                    <option value="sewage">Sewage</option>
                                                    <option value="trash">Trash</option>
                                                    <option value="roads">Roads</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                <div class="container">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Issues</th>
                                                <th scope="col">Description</th>
                                                <th scope="col">Address</th>
                                                <th scope="col">Reporter</th>
                                                <th scope="col">Property Owner</th>
                                                <th scope="col">Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope=row></th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>

                        </div>
                        <div class="col-12 mt-5">
                            <div class="permits-container">

                                <div class="container-header">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-9">
                                                <h3>Permits</h3>
                                            </div>

                                            <div class="col-3">
                                                <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                                    <option value="water" selected>Building</option>
                                                    <option value="sewage">Mobile Home</option>
                                                    <option value="trash">Demolition</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                <div class="container">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Permit Type</th>
                                                <th scope="col">Requester</th>
                                                <th scope="col">Address</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Property Owner</th>
                                                <th scope="col">Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope=row></th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
<%- include("partials/footer") -%>