<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>camelCloud</title>
</head>
<body>
    <form action="/permits/building" method="POST">
        <div class="mb-3">
            <label for="signupEmail" class="form-label">Email address</label>
            <input type="text" class="form-control" id="signupEmail" aria-describedby="emailHelp" name="info">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
<script src="vendor/web3/dist/web3.min.js"></script>
</html>